<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>删除</title>
		<link rel="shortcut icon" href="img/favicon1.ico" />
		<link rel="stylesheet" type="text/css" href="css/base.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css"/>
		<link rel="stylesheet" href="css/remove.css" />
	</head>
	<body>
		<header class="w">
			<div class="log">
				<a href="index.html"><img src="img/logo1.png" /></a>
			</div>
		</header>
		<div class="remove w clearfix">
			<h1>删除</h1>
			<form class="re-form">
				<ul class="clearfix w">
					<li><label>请输入原密码:</label><input type="text" id="username" class="inp" autocomplete="off" placeholder="请输入用户名" /></li>
					<li><label>请输入新密码:</label><input type="password" id="password" class="inp" placeholder="请输入新密码" /></li>
					<li><label>请再次输入原密码:</label><input type="password" id="repassword" class="inp" placeholder="请再次输入新密码" /></li>
					<li><input type="button" value="确认" class="btn" /></li>
				</ul>
			</form>
		</div>
	</body>
</html>
